services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ml_api
      POSTGRES_USER: ml_user
      POSTGRES_PASSWORD: ml_password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
