name: CI & Deploy to Hugging Face Space

on:
  push:
    branches:
      - main
      - "feature/*"
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests
        run: |
          pytest --maxfail=1 --disable-warnings -q

  deploy_to_hf:
    name: Deploy to Hugging Face Space (prod)
    needs: tests
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        uses: huggingface/huggingface-cli-action@v1
        with:
          api_token: ${{ secrets.HF_TOKEN }}
          repo_id: NatSy94/ml-deployment-ai-projet5
          repo_type: space
